
Server/.idea/

Server/lib/groovy-5.0.0-alpha-1-sources.jar

Server/lib/groovy-5.0.0-alpha-1.jar

Server/lib/groovy-ant-5.0.0-alpha-1-sources.jar

Server/lib/groovy-ant-5.0.0-alpha-1.jar

Server/lib/groovy-astbuilder-5.0.0-alpha-1-sources.jar

Server/lib/groovy-astbuilder-5.0.0-alpha-1.jar

Server/lib/groovy-cli-commons-5.0.0-alpha-1-sources.jar

Server/lib/groovy-cli-commons-5.0.0-alpha-1.jar

Server/lib/groovy-cli-picocli-5.0.0-alpha-1-sources.jar

Server/lib/groovy-cli-picocli-5.0.0-alpha-1.jar

Server/lib/groovy-console-5.0.0-alpha-1-sources.jar

Server/lib/groovy-console-5.0.0-alpha-1.jar

Server/lib/groovy-contracts-5.0.0-alpha-1-sources.jar

Server/lib/groovy-contracts-5.0.0-alpha-1.jar

Server/lib/groovy-datetime-5.0.0-alpha-1-sources.jar

Server/lib/groovy-datetime-5.0.0-alpha-1.jar

Server/lib/groovy-dateutil-5.0.0-alpha-1-sources.jar

Server/lib/groovy-dateutil-5.0.0-alpha-1.jar

Server/lib/groovy-docgenerator-5.0.0-alpha-1-sources.jar

Server/lib/groovy-docgenerator-5.0.0-alpha-1.jar

Server/lib/groovy-ginq-5.0.0-alpha-1-sources.jar

Server/lib/groovy-ginq-5.0.0-alpha-1.jar

Server/lib/groovy-groovydoc-5.0.0-alpha-1-sources.jar

Server/lib/groovy-groovydoc-5.0.0-alpha-1.jar

Server/lib/groovy-groovysh-5.0.0-alpha-1-sources.jar

Server/lib/groovy-groovysh-5.0.0-alpha-1.jar

Server/lib/groovy-jmx-5.0.0-alpha-1-sources.jar

Server/lib/groovy-jmx-5.0.0-alpha-1.jar

Server/lib/groovy-json-5.0.0-alpha-1-sources.jar

Server/lib/groovy-json-5.0.0-alpha-1.jar

Server/lib/groovy-jsr223-5.0.0-alpha-1-sources.jar

Server/lib/groovy-jsr223-5.0.0-alpha-1.jar

Server/lib/groovy-macro-5.0.0-alpha-1-sources.jar

Server/lib/groovy-macro-5.0.0-alpha-1.jar

Server/lib/groovy-macro-library-5.0.0-alpha-1-sources.jar

Server/lib/groovy-macro-library-5.0.0-alpha-1.jar

Server/lib/groovy-nio-5.0.0-alpha-1-sources.jar

Server/lib/groovy-nio-5.0.0-alpha-1.jar

Server/lib/groovy-servlet-5.0.0-alpha-1-sources.jar

Server/lib/groovy-servlet-5.0.0-alpha-1.jar

Server/lib/groovy-sql-5.0.0-alpha-1-sources.jar

Server/lib/groovy-sql-5.0.0-alpha-1.jar

Server/lib/groovy-swing-5.0.0-alpha-1-sources.jar

Server/lib/groovy-swing-5.0.0-alpha-1.jar

Server/lib/groovy-templates-5.0.0-alpha-1-sources.jar

Server/lib/groovy-templates-5.0.0-alpha-1.jar

Server/lib/groovy-test-5.0.0-alpha-1-sources.jar

Server/lib/groovy-test-5.0.0-alpha-1.jar

Server/lib/groovy-test-junit5-5.0.0-alpha-1-sources.jar

Server/lib/groovy-test-junit5-5.0.0-alpha-1.jar

Server/lib/groovy-testng-5.0.0-alpha-1-sources.jar

Server/lib/groovy-testng-5.0.0-alpha-1.jar

Server/lib/groovy-toml-5.0.0-alpha-1-sources.jar

Server/lib/groovy-toml-5.0.0-alpha-1.jar

Server/lib/groovy-typecheckers-5.0.0-alpha-1-sources.jar

Server/lib/groovy-typecheckers-5.0.0-alpha-1.jar

Server/lib/groovy-xml-5.0.0-alpha-1-sources.jar

Server/lib/groovy-xml-5.0.0-alpha-1.jar
